.heroSection {
  margin-bottom: 90px;
}
.positionRelative {
  position: relative;
}
.headerImage {
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 30px;
  align-items: center;
  @media (max-width: 600px) {
    width: 90%;
    padding-top: 15px;
    font-size: 30px;
  }
}
.bg_image {
  // background-image: url("../images/heroImg.png");
  // height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  .heroContent {
    background: #ffffff;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
    max-width: 741px;
    width: 100%;
    height: auto;
    padding: 96px 156px 30px 64px;
    position: absolute;
    bottom: -200px;
    margin-left: 50px;
  }
  .headerImage2 {
    float: right;
  }

  h2 {
    font-size: 39px;
    font-weight: 700;
    line-height: 49px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 29px;
    font-family: "Montserrat", sans-serif;
  }
  span {
    color: #f78065;
  }
}
.heroButton {
  justify-content: center;
  align-items: center;
  padding: 12px 24px 12px 16px;
  width: 218px;
  height: 65px;
  background: #f78065;
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  margin-top: 29px;
  outline: none;
}
@media (max-width: 992px) {
  .bg_image .heroContent {
    max-width: 540px;
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .bg_image .heroContent {
    position: relative;
    padding: 40px 20px 40px 20px;
    text-align: center;
    bottom: -40px;
    margin-left: 0px;
  }

  .carousel-control-next-icon {
    display: none;
  }
  .carousel-control-prev-icon {
    display: none;
  }
}
@media (max-width: 512px) {
  .bg_image .heroContent {
    min-height: 510px;
  }
  .SoftwareCompnie {
    padding-top: 0px;
  }
  .bg_image h2 {
    font-size: 30px;
  }
}
@media (max-width: 427px) {
  .bg_image .heroContent {
    min-height: 510px;
  }
}
